@font-face {
    font-family: calculator;
    src: url(Calculator.ttf);
}

:root {
    --color-pink: #E9275B;
    --color-yellow: rgb(221, 206, 93);
}

html {
    min-height: 100%;
}

body {
    text-align: center;
    background-color:rgb(133, 87, 188);
    background-image: linear-gradient(to bottom, #392270, #a72648);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
}

h1 {
    font-family: calculator;
    font-size: 50px;
    margin-top: 5vh;
    color: var(--color-pink);
}

#calculator {
    background-color:rgb(29, 37, 122);
    margin: 5vw auto;
    height: 500px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 20px 3px rgb(0,0,0,0.71);
}

output {
    font-family: calculator;
    padding: 5px;
    margin-right: 5px;
    font-weight: bold;
    font-size: 30px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 20px 10px 10px;
    background-color: rgb(99, 97, 97);
    height: 90px;
    width: 90%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.71);
}

#buttons {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 1;
    align-items: center;
    padding: 21px;
}

button {
    color: var(--color-pink);
    font-size: 20px;
    font-weight: 800;
    border: 0px solid transparent;
    background-color: #291850;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 2px;
    padding: 0;
    cursor: pointer;
}

button:active {
    transform: translate(1px, 2px);
}

button:hover {
    background-color: var(--color-yellow)
}

#equal {
    width: 125px;
}

#equal:active {
    transform: translate(1px, 2px);
}

#equal:hover {
    background-color: var(--color-yellow);
}

footer {
    font-weight: bold;
    font-size: large;
}